.professionContainer {
	width: 2vw;
	height: 2vw;
	background: rgb(158, 158, 158);
	border-radius: 50%;
}

.profNumber-1 {
	position: relative;
	top: -4%;
	left: 61%;

	.text-container {
		display: flex;
		width: 8vw;
		height: 5vw;
		font-weight: bold;
		font-size: 1vw;
		position: relative;
		top: -250%;
		left: -40%;
		text-align: center;
		vertical-align: bottom;

		.spanText {
			width: 8vw;
			margin: auto;
		}
	}
}

.profNumber-2 {
	position: relative;
	top: 2%;
	left: 86%;

	.text-container {
		display: flex;
		width: 8vw;
		height: 5vw;
		font-weight: bold;
		font-size: 1vw;
		position: relative;
		top: -140%;
		left: 100%;
		text-align: center;
		vertical-align: middle;

		.spanText {
			width: 8vw;
			margin: auto;
		}
	}
}

.profNumber-3 {
	position: relative;
	top: 17%;
	left: 94%;

	.text-container {
		display: flex;
		width: 8vw;
		height: 5vw;
		font-weight: bold;
		font-size: 1vw;
		position: relative;
		top: -100%;
		left: 100%;
		text-align: center;
		vertical-align: middle;

		.spanText {
			width: 8vw;
			margin: auto;
		}
	}
}

.profNumber-4 {
	position: relative;
	top: 33%;
	left: 85%;

	.text-container {
		display: flex;
		width: 8vw;
		height: 5vw;
		font-weight: bold;
		font-size: 1vw;
		position: relative;
		top: -60%;
		left: 100%;
		text-align: center;
		vertical-align: middle;

		.spanText {
			width: 8vw;
			margin: auto;
		}
	}
}

.profNumber-5 {
	position: relative;
	top: 39%;
	left: 61%;

	.text-container {
		display: flex;
		width: 8vw;
		height: 5vw;
		font-weight: bold;
		font-size: 1vw;
		position: relative;
		top: 100%;
		left: 0%;
		text-align: center;
		vertical-align: middle;

		.spanText {
			width: 8vw;
			margin: auto;
		}
	}
}

.profNumber-6 {
	position: relative;
	top: 26%;
	left: 30%;

	.text-container {
		display: flex;
		width: 8vw;
		height: 5vw;
		font-weight: bold;
		font-size: 1vw;
		position: relative;
		top: 100%;
		left: -250%;
		text-align: center;
		vertical-align: middle;

		.spanText {
			width: 8vw;
			margin: auto;
		}
	}
}


.profNumber-7 {
	position: relative;
	top: -5%;
	left: 3%;

	.text-container {
		display: flex;
		width: 8vw;
		height: 5vw;
		font-weight: bold;
		font-size: 1vw;
		position: relative;
		top: -50%;
		left: -400%;
		text-align: center;
		vertical-align: middle;

		.spanText {
			width: 8vw;
			margin: auto;
		}
	}
}

.profNumber-8 {
	position: relative;
	top: -50%;
	left: -7%;

	.text-container {
		display: flex;
		width: 8vw;
		height: 5vw;
		font-weight: bold;
		font-size: 1vw;
		position: relative;
		top: -100%;
		left: -400%;
		text-align: center;
		vertical-align: middle;

		.spanText {
			width: 8vw;
			margin: auto;
		}
	}
}

.profNumber-9 {
	position: relative;
	top: -94%;
	left: 2%;

	.text-container {
		display: flex;
		width: 8vw;
		height: 5vw;
		font-weight: bold;
		font-size: 1vw;
		position: relative;
		top: -130%;
		left: -400%;
		text-align: center;
		vertical-align: middle;

		.spanText {
			width: 8vw;
			margin: auto;
		}
	}
}

.profNumber-10 {
	position: relative;
	top: -125%;
	left: 29%;

	.text-container {
		display: flex;
		width: 8vw;
		height: 5vw;
		font-weight: bold;
		font-size: 1vw;
		position: relative;
		top: -250%;
		left: -260%;
		text-align: center;
		vertical-align: middle;

		.spanText {
			width: 8vw;
			margin: auto;
		}
	}
}