.competence-parrent {
	width: 35vw;
	height: 35vw;
	position: absolute;
	top: 10%;
	left: 30%;
	border: 0.3vw solid rgb(158, 158, 158);
	border-radius: 50%;
}

.profession-parrent {
	width: 15vw;
	height: 15vw;
	position: absolute;
	top: 30%;
	left: 39.9%;
	border: 0.3vw solid rgb(158, 158, 158);
	border-radius: 50%;
}

img {
	width: 37vw;
	height: 37vw;
	position: absolute;
	opacity: 0.5;
	top: -2%;
	left: -3%;
}